* {
  padding: 0px;
  margin: 0px;
}
.header1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.5em;
  align-items: center;
}
.navv ul {
  display: flex;
  list-style: none;
}
.navv a {
  text-decoration: none;
}
.navv li {
  margin: 1em;
}
